{% extends 'base.html' %}
{% block content %}
    {% load bootstrap3 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% bootstrap_messages %}
    {% if user.is_superuser %}
        <h3>Для внесенения изменений - отредактируйте значения и нажмите "Сохранить"</h3>
        <hr>
        <form action="" method="POST">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% if account.student %}
                <label for="study_group">Студенческая группа:
                    <select name="study_group" class="form-control" id="study_group">
                        {% for study_group in study_groups %}
                            <option value="{{ study_group.title }}">{{ study_group.title }}</option>
                        {% endfor %}
                    </select>
                </label>
                {#  После чего нужно установить select в нужное положение #}
                <script>
                    $("#study_group").val("{{ account.student.study_group.title }}");
                </script>
            {% endif %}
            {% if not account.student and not account.tutor %}
                {#  Редактирование пользователя со статусом "Неподтвержден" #}
                <label for="type_account">Является
                    <select name="type_account" class="form-control" id="type_account"
                            onchange="changeGroupVisibility(this)">
                        <option value="tutors">Преподователем</option>
                        <option value="students">Студентом</option>
                    </select>
                </label><br>

                <div id="div_study_group">
                    <label for="study_group">Студенческая группа:
                        <select name="study_group" class="form-control" id="study_group">
                            {% for study_group in study_groups %}
                                <option value="{{ study_group.title }}">{{ study_group.title }}</option>
                            {% endfor %}
                        </select>
                    </label>
                </div>
            {% endif %}
            {% buttons %}
                <button type="submit" class="btn btn-primary">
                    {% bootstrap_icon "floppy-save" %} Сохранить изменения
                </button>
            {% endbuttons %}
        </form>

    {% endif %}
    {% if account %}{# Есть что показать #}
        {{ account.first_name }} {{ account.last_name }} {{ account.middle_name }}
        <hr>
        <ul class="about_account">
            Теги:
            {% if  account.tutor %}
                <li class="bg-info account-tag">Преподователь</li>
                {% if  disciplines %}
                    {% for discipline in disciplines %}
                        <li class="bg-info account-tag">{{ discipline }}</li>
                    {% endfor %}
                {% else %}
                    <li class="bg-info account-tag">Нет преподоваемых дисциплин</li>
                {% endif %}
            {% endif %}
            {% if account.student %}
                <li class="bg-info account-tag">Студент</li>
                {% if  account.student.study_group %}
                    <li class="bg-info account-tag">Группа: {{ account.student.study_group.title }}</li>
                {% else %}
                    <li class="bg-info account-tag">Группа не указана</li>
                {% endif %}
            {% endif %}
            {% if not account.student and  not account.tutor %}
                <li class="bg-warning account-tag">Неподтверждён</li>
            {% endif %}
        </ul>
    {% else %}
        Вы не можете просматривать этот профиль
    {% endif %}




{% endblock %}