{% extends 'base.html' %}

{% block content %}
    {# Load the tag library #}
    {% load bootstrap3 %}



    {# Display django.contrib.messages as Bootstrap alerts #}
    {% bootstrap_messages %}
    {% if user.is_superuser %}
        <script>

        </script>
        <h3>Заполните все поля для создания нового пользователя</h3>
        <hr>
        <form class="dotted" action="/users/" method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            <label for="learn_language">Пол:<br>
                <label class="radio-inline"><input id="male" type="radio" name="optradio">мужской</label>
                <label class="radio-inline"><input id="female" type="radio" name="optradio">женский</label>
            </label><br>

            <label for="type_account">Является
                <select name="type_account" class="form-control" id="type_account"
                        onchange="changeGroupVisibility(this)">
                    <option value="tutors">Преподователем</option>
                    <option value="students">Студентом</option>
                </select>
            </label>

            <div id="div_study_group">
                <label for="study_group">Студенческая группа:
                    <select name="study_group" class="form-control" id="study_group">
                        {% for study_group in study_groups %}
                            <option value="{{ study_group.title }}">{{ study_group.title }}</option>
                        {% endfor %}
                    </select>
                </label>
            </div>
            <hr class="thin">
            <div id="div_learn_language">
                <label for="learn_language">Изучаемый язык:<br>
                    <label class="radio-inline"><input id="english" type="radio" name="optradio">английский</label>
                    <label class="radio-inline"><input id="french" type="radio" name="optradio">французкий</label>
                    <label class="radio-inline"><input id="german" type="radio" name="optradio">немецкий</label>
                </label>
            </div>

            <div id="div_passport_number">
                <label for="passport_number">Номер паспорта
                    <input name="passport_number" class="form-control">
                </label>
            </div>
            <div id="div_registration">
                <div class="form-group">
                    <label for="registration">Адрес регистрации</label>
                    <textarea class="form-control" rows="5"></textarea>
                </div>
            </div>
            <div id="div_liberation">
                <div class="checkbox">
                    <label><input type="checkbox" id="liberation" value="">Освобождение от физкультуры</label>
                </div>
            </div>
            <div id="div_orphan">
                <div class="checkbox">
                    <label><input type="checkbox" id="orphan" value="">Сирота</label>
                </div>
            </div>
            {% buttons %}
                <button type="submit" class="btn btn-primary">
                    {% bootstrap_icon "plus" %} Добавить
                </button>
            {% endbuttons %}
        </form>

    {% endif %}
    <hr>
    <ul class="account_categories">
        <li class="bg-primary account-filter"><a href="/users/">Все пользователи</a></li>
        <li class="bg-primary account-filter"><a href="/users?tutors=true">Преподователи</a></li>
        <li class="bg-primary account-filter"><a href="/users?students=true">Студенты</a></li>
    </ul>
    <hr>
    {% for user in users %}
        <ul class="about_account">
            <li class="account-username"><a href="/users/{{ user.id }}/">{{ user.username }}</a></li>

            {% if  user.tutor %}
                <li class="bg-info account-tag">Преподователь</li>
            {% endif %}
            {% if user.student %}
                <li class="bg-info account-tag">Студент</li>
            {% endif %}
            {% if not user.student and  not user.tutor %}
                <li class="bg-warning account-tag">Неподтверждён</li>
            {% endif %}
        </ul>
        <br/>
    {% endfor %}
    <br/>
    <div class="pagination">
    <span class="step-links">
        {% if users.has_previous %}
            <a href="?page={{ users.previous_page_number }}">Предыдущая</a>
        {% endif %}

        <span class="current">
            Страница {{ users.number }} из {{ users.paginator.num_pages }}.
        </span>

        {% if users.has_next %}
            <a href="?page={{ users.next_page_number }}">Следущая</a>
        {% endif %}
    </span>
    </div>
{% endblock %}