{% load  staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>Spark</title>
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
     <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/common.js' %}"></script>
</head>
<body>
<header>
    <ul>
        {% if user.is_authenticated %}
            <li><a href="{% url 'logout_user' %}">Выйти</a></li>
            <li><a href="{% url 'accounts' %}">Список пользователей</a></li>
        {% endif %}
    </ul>
</header>
<section role="main">
    <nav>
    </nav>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</section>
</body>
</html>