{% extends 'base.html' %}
{% block content %}
    {% load bootstrap3 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% bootstrap_messages %}
    {% if not user.id %}
        Авторизируйтесь в системе
        <hr>
        <form method="post" action="/login/">
            {% csrf_token %}
            <div class="form-group">
                <input class="form-control" id="username" name="username" placeholder="Логин/Email" required="required"
                       type="text">
            </div>
            <div class="form-group">
                <input class="form-control" id="id_password" name="password" placeholder="Пароль" required="required"
                       type="password">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">
                    <span class="glyphicon glyphicon-log-in"></span> Войти
                </button>
            </div>
        </form>
        <hr>
        Войти через:
        <a class="btn btn-primary" href="{% url 'odnoklassniki' %}{% if redirect %}?redirect={{ redirect }}{% endif %}">Одноклассники</a>
        <a class="btn btn-primary" href="{% url 'vkontakte' %}{% if redirect %}?redirect={{ redirect }}{% endif %}">Вконтакте</a>
    {% endif %}
{% endblock %}